In [1]:
import pandas as pd
import numpy as np

In [2]:
adult=pd.read_csv('~/Downloads/adult-reduced.csv')

In [3]:
patient = pd.read_csv('~/Downloads/adult-patients.csv')

In [36]:
m = pd.merge(patient, adult, on=['Sex', 'Marital Status', 'Occupation', 'DOB', 'Education'])

In [38]:
# df=pd.merge(patient, adult, on=['Sex', 'Marital Status', 'Occupation', 'DOB', 'Education'])

m[m.Name=='Gwenette Nashe'].Disease.values[0]

'Fever'

In [19]:
patient[(patient.Education==row.Education) & (patient.Sex=='Male') & (patient.DOB=='3/5/1979') & (patient.Occupation=='Sales')]

ValueError: Can only compare identically-labeled Series objects

In [30]:
row=adult[adult.Name=='Gwenette Nashe'].to_dict()

In [31]:
row

{'Unnamed: 0': {23580: 23580},
 'Name': {23580: 'Gwenette Nashe'},
 'DOB': {23580: '3/5/1979'},
 'Zip': {23580: 53209},
 'Workclass': {23580: 'Private'},
 'Education': {23580: 'Bachelors'},
 'Education-Num': {23580: 13},
 'Marital Status': {23580: 'Married-civ-spouse'},
 'Occupation': {23580: 'Sales'},
 'Relationship': {23580: 'Husband'},
 'Race': {23580: 'White'},
 'Sex': {23580: 'Male'},
 'Hours per week': {23580: 40},
 'Country': {23580: 'United-States'},
 'Target': {23580: '>50K'},
 'Age': {23580: 44},
 'Capital Gain': {23580: 0},
 'Capital Loss': {23580: 0}}

In [27]:
p = patient[patient.apply(lambda r: r.Education==row.Education.values[0], axis=1)]

In [28]:
p

,Unnamed: 0,Age,Sex,Marital Status,Occupation,DOB,Education,Disease
0,0,56,Male,Never-married,Adm-clerical,9/7/1967,Bachelors,Stomach cancer
1,1,35,Male,Married-civ-spouse,Exec-managerial,6/7/1988,Bachelors,Stomach cancer
4,4,72,Female,Married-civ-spouse,Prof-specialty,9/16/1951,Bachelors,Stomach cancer
9,9,25,Male,Married-civ-spouse,Exec-managerial,7/31/1998,Bachelors,Fever
11,11,28,Male,Married-civ-spouse,Prof-specialty,6/14/1995,Bachelors,Stomach cancer
...,...,...,...,...,...,...,...,...
32532,32532,25,Female,Married-civ-spouse,NaN,3/14/1998,Bachelors,Fever
32533,32533,15,Female,Never-married,NaN,10/28/2008,Bachelors,Diabetic
32535,32535,52,Male,Married-civ-spouse,Exec-managerial,8/16/1971,Bachelors,Heart attack
32538,32538,33,Female,Never-married,Exec-managerial,8/8/1990,Bachelors,Fever
32540,32540,41,Female,Divorced,Prof-specialty,11/18/1982,Bachelors,Stomach cancer

In [25]:
row.Education.values[0]

array(['Bachelors'], dtype=object)